@charset "utf-8";
/* CSS Document */

.cliente-separa-item
{
padding-top:20px;

}

.cliente-empresa-img{
max-width:100%;
border:3px solid #D2D3D5;
border-radius: 4px 4px 8px 8px;


}

/*Ajuste na citação dos depoimentos, onde se drescreve o nome do autor da frase, para fazer a quebra automática*/
.cliente-label-ajuste{
white-space:normal;
}

/*TAMANHO SM - SMARTPHONES GRADES E TABLETS PEQUENOS*/
@media (min-width: 768px) and (max-width: 991px) {
.cliente-empresa-img{
margin-top:5%;


}

}