/* CSS PADRÃO ENDOGÊNSE SOLUÇÕES */

/* FONTE DO NOME ENDOGÊNESE*/
    @font-face {
    font-family: Endo;
    src: url(../fontes/Freehand.ttf);
    }
.endo_font{
font-family:Endo;

}

/*Arrendondamento das bordas das imagens na Home Page *** EXCLUIDA AS IMAGENS*/

.img_arred_1{

border-top-left-radius: 40px;
border-top-right-radius: 250px;
border-bottom-right-radius: 250px;
border-bottom-left-radius: 40px;
margin-left:20px;
margin-bottom:20px;

}
.img_arred_2{

border-top-left-radius: 250px;
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 250px;
margin-right:20px;
margin-bottom:20px;
}


/* Ajuste na margem de cima, para que a página fique abaixo do menu fixo*/
.endo_top{margin-top: 80px;}


/* Classes alteradas do FOTORAMA, INCLUIDO NA PÁGINA DE CASOS DE SUCESSO: verificar: nav-tabs>li.active>a:hover,  */
.fotorama__thumb{border-radius:150px!important;}
.fotorama__thumb:hover{border-radius:150px!important; width:97%; height:97%}
.fotorama__thumb-border{border-style:outset!important; border-color:#20D524!important;border-radius:150px!important;}
.fotorama__caption{font-family:Verdana, Arial, Helvetica, sans-serif!important;font-size:24px!important;}

/* Ajuste da borda, para arredondá-la mais de um lado, nas abas que tratam dos consultores, na página padrão Nossa História */
.nav-tabs>li>a{border-radius:50px 4px 0 0!important;}


/*Contorno com bordas arredondadas da DIV na página de Casos de Sucesso (Depoimentos)*/
.endo_info{
border-radius:50px;
padding:6px;
background-color:#fff;
border:1px solid #ddd;
text-align:center;
}

/*Ajuste na citação dos depoimentos, onde se drescreve o nome do autor da frase, para fazer a quebra automática*/
.label_ajuste{

white-space:normal;
}

/*Classe aplicada dentro dos links para exibilos como texto normal*/
a.limpar_link>:link,a.limpar_link:visited, a.limpar_link:hover, a.limpar_link:active{
text-decoration:none;
color:inherit;
}


/*Usada para configurar a distância entre os itens do depoimento, na página casos de sucesso!*/
.separa_item
{
padding-top:20px;
height:200px;
}

/*Usada para configurar a distância entre os itens da página de parceiros*/
.separa_parceiro{padding-top:20px;}


/*Efeito de transição na lista de VALORES na página Nossa História*/

.fade_valores:hover{
color:#fff;
background-color:#ccc;
font-weight:bolder;
-webkit-transition:background-color 1s, color 0.5s; /* For Safari 3.1 to 6.0 */
-moz-transition:background-color 1s, color 0.5s; 
transition:background-color 1s, color 0.5s;
}

/* Efeito nos circulos na página index*/
.endo_circulo_index{
          transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
        }

        .endo_circulo_index:hover{
          margin-top: -15px;
          margin-bottom: 15px;
        }


/*Personalização do MENU*/
  .navbar-wrapper .navbar {

border-bottom-right-radius: 30px!important;
border-bottom-left-radius: 30px!important;


  }
  
 .endo_menu{
 transition-duration: 0.5s;
 -moz-transition-duration: 0.5s;
 -webkit-transition-duration: 0.5s;
 -o-transition-duration: 0.5s;
 
 }
.endo_menu:hover{
margin-top: -5px;
margin-bottom: 5px;
background-color:#333333;
border-radius: 8px;

}
/*Personalização do rodapé*/

.endo_rodape_img{
 transition-duration: 0.5s;
 -moz-transition-duration: 0.5s;
 -webkit-transition-duration: 0.5s;
 -o-transition-duration: 0.5s;
 }

.endo_rodape_img:hover{
}

/* Featurettes------------------------- */



.featurette-divider {

  margin: 80px 0; /* Space out the Bootstrap <hr> more */

}



/* Thin out the marketing headings */

.featurette-heading {

  font-weight: 300;

  line-height: 1;

  letter-spacing: -1px;

}


/* não lembro onde essas classes funcionam.*/
/*
.endo_titulo{

text-align:center;
margin-top:300px;
}

.endo_img_top{
position:absolute;
left:0px;
top:0px;
z-index:-1;
}
*/
/*MODIFICAÇÃO DA CLASSE MODAL NA PÁGINA DE PARCEIROS*/
.modal{

margin-top:15%;}
/*RESPONSIVIDADE DO SITE*/

.endo_linha{

width:400px;
margin:auto;
margin-bottom:10px;
margin-top:10px;
}

@media (max-width: 767px){



.endo_img_servico{
min-width:100px;
margin:auto;

}
.endo_conteudo_servico{
min-width:100px;
margin:auto;
padding-left:10px;
padding-right:10px;

}

.endo_topo_texto{margin-top:10px!important;}

.endo_img_desc_serv{
margin-left:15%;
margin-bottom:5%;
width:250px;
height:250px;



          transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
        }

        .endo_img_desc_serv:hover{
background-color:#BBEAC6;
}
.endo_panel-group_serv{width:90%; }

.img_arred_1 {float:none !important;margin:auto;}
.img_arred_2 {float:none !important;margin:auto;}


}
/*CSS PARA SMARTPHONES*/
@media (min-width: 768px) and (max-width: 991px) {


.endo_img_servico{

width:750px; 
margin:auto;

}

.endo_conteudo_servico{
width:750px; 
margin:auto;
padding-left:10px;
padding-right:10px;
 
}

.endo_topo_texto{margin-top:10px!important;}

.endo_img_desc_serv{
margin-left:25%;
margin-bottom:5%;
width:350px;
height:350px;


     transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
        }

        .endo_img_desc_serv:hover{
background-color:#BBEAC6;
    
}

.endo_panel-group_serv{width:90%;  }

}
/*CSS PARA TABLETS*/
@media (min-width: 992px) and (max-width: 1199px){


.endo_img_servico{
position: fixed;
z-index:3; 
left:65%;
width:340px; 
float:right!important;
}

.endo_conteudo_servico{
width:630px; 
padding-left:20px;
padding-right:20px!important;
float:left!important;
}
.endo_panel-group_serv{width:90%; }
.endo_img_desc_serv{
width:340px;
height:340px;}
}


@media (min-width: 1200px)  {
/*Classes aplicadas na descrição dos serviços para efeito parallax, e responsividade*/
.endo_img_servico{
position: fixed;
z-index:3; 
left:65%;
width:410px; 
float:right!important;

}

.endo_conteudo_servico{
width:760px; 
padding-left:20px;
padding-right:20px!important;
float:left!important;
}

.endo_panel-group_serv{width:90%; }

.endo_img_desc_serv{
width:400px;
height:400px;}
}


