/* Main fonts */
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	1. Basics
	2. Header
	3. Content boxes
	4. Portfolio
	5. Staff
	6. Blockquote
	7. Contact
	8. Footer
	9. Page
	10. Responsive



/* 1. Basics
================================================== */

body {
	background-color:#F7F7F7;
	font-family: 'PT Sans', sans-serif
}

a {
	color: #999;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

.clear {
	clear:both;
	height:0;
	margin:0;
	font-size: 1px;
	line-height: 0
}

.center {
	text-align:center
}

.last {margin-right:0!important}

.break-title {
	font-size: 12px;
	text-transform: uppercase;
	clear: both;
	display: block;
	width: 100%;
	border-bottom: 1px dotted #CCC;
	margin: 50px 0;
	letter-spacing: 4px;
	padding-bottom: 5px
}

.wp-caption-text {
  margin-bottom:0!important
}

.alignright {
  float:right;
  margin:10px 0 0 15px;
}

.alignright img {
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 1px #999999;
}

.alignleft {
  float:left;
  margin:10px 15px 0 0;
}

.alignleft img {
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 1px #999999;
}

.aligncenter {text-align:center}

img.alignleft , img.alignright, img.aligncenter, img.alignnone {
	max-width:100%
}

blockquote, blockquote p {
	font-size: 22px!important;
	line-height: 32px!important;
	color: #777;
	font-style: normal;
	margin-bottom:5px!important;
	font-family: 'Merriweather', serif
}
blockquote {
	margin: 0;
	padding: 16px 20px 35px 19px;
	clear: both;
	text-align: center;
	border:0!important
}
blockquote cite { display: block; font-size: 17px; color: #83949C; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #83949C; }

.glow {
	background-image:url(../images/glow.png);
	background-repeat:no-repeat;
	background-position:0 0
}

.vertical-spacer {
	clear:both;
	height:50px;
	width:100%;
	display:block;
	float:left
}

.section {
	margin:0;
	text-align:center;
	width:100%;
	clear:both;
	display:block;
	padding: 80px 0;
	position:relative
}

.section.section-quote  {
	padding: 40px 0
}

.section.section-quote .section-content  {
	min-height:88px
}

.section h2 {
	font-size: 50px;
	line-height: 56px;
	margin-bottom: 15px;
	letter-spacing:-1px;
	font-weight: bold;
	font-family: 'Kaushan Script', cursive
}

.section p {
	font-size: 14px;
	line-height: 22px;
	color:#565656
}

.section li {
	color: #888;
	font-size: 24px;
	line-height: 52px;
	letter-spacing: 0px
}

.introtext {
	text-transform: uppercase;
	font-size: 12px!important;
	margin-bottom:35px;
}

/*
.label-success {background-color:#8F2149!important}
*/

.glow {
	height: 120px;
	width: 935px;
	position: absolute;
	background: url(../images/glow.png) no-repeat;
	left: 25%;
	top:0;
	z-index: 0
}

.section-odd .section-title, .section-odd .introtext, .section-odd p {
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.35)
}

/* Content shortcodes */

.half, .half-last {float:left;width:47%;margin:0px 0;margin-right:6%;}
.half-last {margin-right:0}

.third, .third-last {float:left;width:29%;margin:0px 0;margin-right:6%;}
.third-last {margin-right:0}

.quarter, .quarter-last {float:left;width:20%;margin:0px 0;margin-right:6%;}
.quarter-last {margin-right:0}

.border-break {
	border-top: 1px solid #E0E0E0;
	clear: both;
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 15px
}

pre {
	margin:30px 0!important
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 75px 0 0 0; position: relative; zoom: 1;width:100%;height:auto;}
.imageslider .flexslider {
	margin: 0 auto;
	position: relative;
	zoom: 1;
	width:1100px;
	height:auto;
	border: 5px solid white;
	box-shadow:0px 0px 0;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	-ms-box-shadow: 0px 0px 7px rgba(0,0,0,0.6)
}
.flexslider li {margin: 0;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -42px; text-align: center;}
.imageslider .flex-control-nav {width: 100%; position: absolute; bottom:-40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 12px; height: 12px; display: block; background: #000; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.2);}
.flex-control-paging li a:hover { background: #333; }
.flex-control-paging li a.flex-active { background: #fff; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.page-with-slider .logo {
	margin: 45px 0 0px 0
}


/* 2. Header
================================================== */

#header {
	text-align:center;
	margin-bottom: 10px
}

#top {
	margin-bottom: 21px;
	display: block;
	height: 42px;
	padding-top: 42px
}

#header-background {
	background-color:#111;
	background-position:center top;
	-webkit-background-size: 3504px 740px;
	min-height:735px;
	margin-bottom: 50px;
	width:100%;
	position:relative
}

#header-background .container {
	position:relative;
	z-index:2
}

#info-circles {
	margin: 170px 0 30px 0;
	text-align: center;
	clear: both;
	display: block;
	/* float: left;*/
	opacity: 0;
	-webkit-transform: scale(0.5, 0.5) perspective(100px) rotateX(-90deg);
	-moz-transform: scale(0.5, 0.5);
	-o-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5)
}

.circle-wrap {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	height:250px;
	width:250px;
	margin-right:17px
}

.info-circle  {
	background-image:url(../images/circle.png);
	background-repeat:no-repeat;
	background-position:0 0;
	height:250px;
	width:250px;
	float: left;
	position:relative;
	cursor:pointer
}

.info-circle a {
	display:block;
	height:250px;
	width:250px;
	float:left;
}

.info-circle a:hover {
	text-decoration:none
}

.info-circle h3 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-bottom:-4px;
	text-shadow:  1px 1px 1px rgba(0,0,0,0.35);
	text-transform: uppercase
}

.info-circle p {
	color: #AAA;
	font-size: 14px;
	width: 80%;
	margin-left: 24px
}

.circle-icon {
	margin-top: 42px;
	margin-bottom: 10px
}

.circle-icon img {
	width:70px;
	height:70px
}

.logo {
	margin:68px 0 0px 0
}

.video-header .logo {
	margin: 28px 0 0px 0
}

.video-header .tagline {
	margin-top: -32px
}

.header-video {
	margin-top:60px;
}

#border-top {
	background:#000;
	height:5px;
	width:100%
}

#zigzag {
	background: url(../images/zigzag.png) repeat-x;
	height: 10px;
	width: 100%;
	margin-top: -60px;
	position: relative;
	z-index: 9
}

.logo h1 {
	top:-600px;
	position: relative
}

.logo h1 a {
	font-size: 60px;
	color: #415D6B;
	letter-spacing: -2px;
	text-decoration:none;
	font-weight:bold
}

.logo h1 a span {
	color:#ee3124
}

.logo h1 img {

}

.tagline {
	width:100%;
	text-align:center;
	margin-top: -12px;
	letter-spacing: -1px;
}

.logo h1, .tagline h2, .tagline h3 {
	opacity: 0
}

.tagline h2 {
	font-size: 36px;
	color: white;
	font-family: 'Kaushan Script', cursive;
	top: -588px;
	position: relative;
	text-shadow:  1px 1px 1px rgba(0,0,0,0.35)
}

#subheader-shadow {
	margin: 0;
	padding: 0;
	min-height: 120px
}

a .nav-icons {
	color:#bababa;
	text-decoration:none!important
}

a:hover .nav-icons {
	color:#cacaca;
	text-decoration:none!important
}

a.current_menu_item .nav-icons {
	color:#ee2e24;
	text-decoration:none!important
}

.nav-icons {
	font-size: 31px;
	margin-right: 18px
}

#subheader {
	min-height: 111px;
	margin-top: 0;
	background-color:#111;
	background-image:url(../images/txture.png);
}

/* 3. Content boxes
================================================== */

.section-icon {
	margin:0 0 10px 0
}

.section-icon img {
	width:48px;
	height:48px
}

.about-box {
	margin-bottom:25px;
}
.content-icon {
	float: left;
	font-size: 41px;
	margin: 10px 8px 0 0;
	width: 70px!important
}

.content-icons {
	float:left
}

#sidebar {
	font-size:12px
}

.sidebar-inner {
	padding:0 0 0 30px;
	border-left:1px dotted #ccc
}

.left-sidebar .sidebar-inner {
	padding:0 30px 0 0;
	border-right:1px dotted #ccc;
	border-left:0;
	margin-right: 7px
}

#sidebar h4 {
	font-size:17px;
	margin-bottom:20px;
	text-transform:capitalize
}

#sidebar .widget {
	margin-bottom:50px;
	display:block;
	clear:both;
	float:left
}

.eiw {
	min-height: 300px
}

#sidebar p {
	margin-bottom:0
}

#sidebar ul {
	list-style:none;
	margin:0;
	padding:0
}

#sidebar ul li {
	margin:0;
	padding:0
}

.screen-reader-text {
	display:none
}

#searchform input {
	width:160px
}

#searchform #searchsubmit {
	margin-top: -3px;
	width: 55px;
	font-size: 10px;
	padding-left: 5px;

}

#searchform #searchsubmit, #submit {
	display: inline-block;
	padding: 4px 0 4px 4px;
	margin-bottom: 0;
	font-size: 11px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: whiteSmoke;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
	background-image: -webkit-linear-gradient(top,white,#E6E6E6);
	background-image: -o-linear-gradient(top,white,#E6E6E6);
	background-image: linear-gradient(to bottom,white,#E6E6E6);
	background-image: -moz-linear-gradient(top,white,#E6E6E6);
	background-repeat: repeat-x;
	border: 1px solid #BBB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-bottom-color: #A2A2A2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05)
}

#searchform #searchsubmit, #submit {
	border-color: #C5C5C5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25)
}

#searchform #searchsubmit:hover, #submit:hover {
	color: #333;
	text-decoration: none;
	background-color: #E6E6E6;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear
}

#searchform #searchsubmit:hover,
#searchform #searchsubmit:active,
#searchform #searchsubmit.active,
#searchform #searchsubmit.disabled,
#searchform #searchsubmit[disabled],
#submit:hover,
#submit:active,
 #submit.active,
#submit.disabled,
#submit[disabled], {
	color: #333;
	background-color: #E6E6E6
}

#submit {width:150px!important;}

/* 4. Portfolio
================================================== */

h3.section-title {
	font-size: 34px;
	letter-spacing: -1px;
	margin-top: 60px;
	margin-bottom: 35px;
	color:#222;
	float:left
}

#filters {
	list-style: none;
	margin: 0;
	margin-top: 70px;
	padding: 1px 0 5px 0;
	border-top: 1px dotted #111;
	border-bottom: 1px dotted #111
}

#filters li {
	display: inline-block; zoom: 1; *display: inline;
	margin:0 70px 0 0;
	line-height:50px
}

#filters li:last-child {
	margin-right:0!important
}

#filters li a {
	text-transform: uppercase;
	padding: 3px 10px;
	font-size: 14px;
	text-decoration: none;
}

.section-odd #filters li a {
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.35)
}

#filters li a:hover {
	color:#000
}

#filters li a.current {
	color: #fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	background:#111;
}

#portfolio-gallery  {
	float: left;
	width: 100%;
	margin-top:50px
}

#portfolio-gallery img {
	width: 264px;
	height: auto;
	border: 3px solid white;
	box-shadow:0 0 3px rgba(0,0,0,.65);
	padding: 0
}

#portfolio-gallery a {
	float: left
}

#portfolio-gallery div {
	position:relative;
	margin-bottom:30px
}

#portfolio-gallery a {
	float: left;
	display: block;
	width: 100%;
	height: 100%
}

span.over {
	background: rgba(0, 0, 0, .8);
	height: 100%;
	position: absolute;
	width: 270px;
	z-index: 10;
	cursor: pointer
}

.zoom-icon {
	width: 32px!important;
	height: 32px!important;
	position: absolute;
	top: 44%;
	left: 44%;
	border:0!important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
	-ms-box-shadow:none!important;
	-o-box-shadow:none!important;
	border:0!important
}

/* 5. Staff
================================================== */

.social {
	margin-top:5px!important
}

.social-icons {
	float: left;
	width: 100%
}

.social-icons img {
	width:24px;
	height:24px;
}

.social img {
	width:16px;
	height:auto
}


#social {
	padding: 21px 0 10px 0;
	text-align: center
}

.crew-image {
	float: left;
	margin: 21px 30px 0 0
}

.crew-meta {
	float: left;
	display:block;
	max-width: 254px;
	margin-top:15px
}

.crew-info {
	float: left;
	width: 55%;
	text-align: left;
	margin-top: 15px
}

.crew-info p {
	margin-bottom: 5px!important
}

.social {
	float: left;
	width: 65%;
	text-align: left;
	margin-top: 15px
}

.crew-text {
	margin-top: 42px
}

.crew-text span {
	float: left;
	margin:5px 5px 5px 0
}

.showcase-image {
	margin-top:-130px
}

.padded-text {
	padding: 0 120px
}

#mobile-optimized {
	text-align:left
}

.section-image-big {
	margin-bottom: -80px;
	position: absolute;
	left: 0;
	bottom: 0
}

.page .section-content {
	min-height: 330px
}

.vertical-adjust {
	margin-top:100px
}

.content-button {
	margin-top:10px
}

.section-content {
	position: relative;
	z-index: 2;
	min-height: 310px
}

/* 7. Contact
================================================== */

#contact_form {margin-top: 37px;text-align:left;width:570px;}

#contact_form label {
	cursor:pointer;
	text-transform:uppercase;
	font-size:11px;
	color:#111
}

#contact_form input {
	width:95%;
	height:41px;
	margin-bottom:15px
}

#contact_form textarea {
	width:95%;
	height:130px
}

input.error, textarea.error {
	background: #FF8A8A!important;
	border: 1px solid #FF4F4F!important;
	color: white!important
}

.captcha-container {
  margin:16px 0 10px 0;
  float:left;
  display:block;
  width:59%
}

#contact_form label.error {
	font-size: 11px;
	font-style:italic
}

.captcha-container span {
  display: block;
  font-size: 12px;
  margin: 0 0 3px;
  float:left;
  line-height:36px
}

#captcha {
	width:45px!important;
	margin-top: -4px;
	margin-left: 8px
}

.captcha-input-field {
	height:30px!important
}

.gmap {
	border: 5px solid white;
	box-shadow: 0 0 10px #AAA;
	-o-box-shadow: 0 0 10px #AAA;
	-moz-box-shadow: 0 0 10px #AAA;
	-ms-box-shadow: 0 0 10px #AAA;
	-webkit-box-shadow: 0 0 10px #AAA;
	display: block;
	padding: 0;
	margin: 42px 0 0 0;
	width: 96%
}

.gmap img {
	width: 100%
}

.form-btn {
	width:140px!important;
	font-weight:bold;
	margin-top:12px;
	padding: 1px 0 0 0!important;
	font-size: 13px!important;
	text-shadow:1px 2px 3px rgba(0,0,0,0.25);
	float: right;
	margin-right: 14px
}

/* 8. Footer
================================================== */

footer {
	min-height:275px;
	background-color:#111;
	-webkit-background-size: 3504px 740px;
	border-top:5px solid #000;
	position:relative
}

.footer-content {
	position:relative;
	z-index:2
}

footer p {
	color: white;
	font-weight: bold;
	font-size: 15px
}

footer p b {
	color:#fff
}

footer h4 {
	margin-top: 81px;
	color: white;
	margin-bottom: 10px;
	font-weight:normal;
	text-transform:uppercase;
	font-size:12px
}

.about-text {
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 17px
}

.footer-logo {
	margin-top:62px
}

#totop {
	bottom:35px;
	right:35px;
	position:fixed;
	visibility:hidden;
	z-index:3
}

.tweet {
	float: right;
	padding: 0;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .25)
}

.tweet_list li {
	padding: 0 45px 0.5em 0!important;
	margin: 0 0 5px 0!important
}

footer a {color:#fff;font-weight:bold}
footer a:hover {color:#fff}

/* 9. Page
================================================== */

.page #header-background {
	min-height: 200px;
	background-position:left top;
}

.page #header {
	text-align: left
}

.page .logo {
	margin: 10px 0 0 -38px
}

.page .tagline {
	width: 100%;
	text-align: left;
	margin-top: -25px;
	letter-spacing: -1px
}

.page-content {
	margin-top:50px;
	min-height: 630px;
	color: #888
}

.page-content p {
	font-size:14px;
	line-height:20px;
	margin-bottom: 40px
}

.page-content h1,.page-content h2,.page-content h3,.page-content h4,.page-content h5,.page-content h6 {
	text-align:left;
	margin-bottom:25px
}

/* 10. Responsive
================================================== */

/* iPhone (portrait) */
@media (max-width: 767px) {
	span.over,.glow,#totop,.tweet_avatar,#main-navigation,#sidebar {display:none!important}
	#main-container {
		width: 300px;
		margin-left: -10px;
		margin-top: 10px
	}
	.flexslider {
		margin: 75px 0 -9px 0
	}
	.flex-control-nav {
		bottom: 19px
	}
	.about-box {margin-bottom:35px}
	body {padding:0!important}
	.logo {margin: 5px 0 0px 0}
	#info-circles {margin: 95px 0 30px 35px}
	.info-circle {margin-bottom:15px}
	.introtext {
		width: 290px;
		padding: 0 0 0 15px
	}
	#portfolio-gallery {text-align: center}
	#portfolio-gallery a {
		float: none;
		text-align: center;
		z-index:-999;
		position:relative
	}
	.crew-image {
		display: block;
		float: left;
		text-align: center;
		width: 100%
	}
	.crew-photo {
		float: none;
		margin-right: 0;
		margin-bottom: 12px
	}
	.crew-text span {float:none}
	.crew-text {text-align: center}
	.section {text-align: center}
	.gmap {
		width:94%;
		margin: 0 0 0 4px
	}
	footer {text-align:center}
	#contact_form {
		width: 90%;
		margin-left: 16px
	}
	#main-menu-select {
		width: 80%;
		text-align: center;
		margin: 100px 0 0 36px;
		height: 42px
	}
	#header-background {
		min-height: 435px
	}
	.tweet_list li {
		padding: 0 2px 0.75em 0!important;
		margin: 0 0 5px 0!important
	}
	.logo h1 img {
		width: 100%;
		margin-bottom: 15px
	}
	.captcha-container {
		margin: 16px 0 10px 55px;
		width: 70%
	}
	.form-btn {float: none;margin: 0 0 0 71px}
	#newsletter-form {margin-left: 50px}
	#newsletter-form input {display:block}
	blockquote {padding:0!important;}
	.tagline h2 {padding: 0 15px}
	.page-with-slider #main-menu-select {
		margin-top:0!important
	}
	.crew-meta {
		float: left;
		display: block;
		width: 100%;
		text-align: center;
		margin: 0 0 0 17px
	}
	.crew-info {width: 276px;text-align: center}
	.social {
		float: left;
		width: 100%;
		text-align: center;
	}
	.section-quote {min-height: 190px}
	.quarter, .quarter-last, .half, .half-last {
		float: none;
		width:100%;
		margin: 0;
		margin-right: 0
	}
	.page .logo {
		margin: 10px 0 0 -18px!important
	}
	.page-content {
		padding: 0 25px;
		margin-bottom: 50px
	}
	.thumbnails > li {
		text-align: center;
		width: 172px;
		margin-left: 45px
	}
	#content {
		padding: 0 15px
	}
}

/* iPhone (landscape) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#info-circles {
		margin: 95px 0 30px 111px
	}
	.flexslider {
		margin: 75px 0 -9px 0
	}
	.flex-control-nav {
		bottom: 19px
	}
	.introtext {
		width: 92%
	}
	.section h2 {
		margin-left: 0px
	}
	#contact_form {
		margin-left: 24px
	}
	#main-menu-select {
		margin: 100px 0 0 51px
	}
	.logo h1 img {
		width: 80%;
		margin-bottom: 15px
	}
	#newsletter-form {
		margin-left: 127px
	}
	#totop,.glow,#sidebar {display:none!important}
	.captcha-container {
		margin: 16px 0 10px 0;
		width: 42%
	}
	.form-btn {
		float: none;
		margin: 11px 0 0 102px
	}
	.crew-info {
		width: 428px;
		padding-left: 0;
		text-align: center
}
	.crew-meta {margin: 0 0 0 90px}
	#content {
		padding: 0 15px
	}
}

/* iPad (portrait) */
@media (min-width: 768px) and (max-width: 979px) {
	span.over,.glow,#totop {display:none}
	#about h3 {
		font-size:18px
	}
	.flex-control-nav {
		bottom: 19px
	}
	.flexslider {
		margin: 75px 0 -10px 0
	}
	#main-menu-select {
		width: 80%;
		text-align: center;
		margin: 100px 0 0 76px;
		height: 42px
	}
	#header-background {
		min-height: 475px
	}
	.tweet {
		margin-top: 5px
	}
	.footer-logo {
		margin-top: 62px;
		width: 90%
	}
	#newsletterform input {
		width:80%
	}
	.captcha-container {
		width: 55%
	}
	.social {margin-left: -17px;width: 100%;text-align: center;margin-top: 15px;float: left}
	#portfolio-gallery img {width: 160px}
	#totop,.glow {display:none}
	.page-with-slider #main-menu-select {
		margin-top:0!important
	}
	.crew-text {text-align: center}
	.crew-image {float:none}
	.crew-info {width: 100%;text-align: center}
	.crew-meta {margin-left: 40px}
	#portfolio-gallery {margin-left: 9px}
	#contact_form {width: 347px}
	.gmap {margin-left:15px;}
	.big-image-content {
		width: 100%!important;
		float: none!important;
		margin-right: 0!important
	}
	.gallery img {width: 93px;height: auto}
}

/* iPad (landscape) */
@media (min-width: 979px) and (max-width: 1025px) {
	.info-circle {
		margin-right: -20px
	}
	#portfolio-gallery img {width: 213px}
	#totop,.glow {display:none}
	.flex-control-nav {
		bottom: -34px
	}
	.circle-wrap {
		margin-right: -30px
	}
	span.over {
		width: 219px
	}
	#contact_form {
		width: 480px
	}
	.big-image-content {
		width: 100%!important;
		float: none!important;
		margin: 0 0 0 9px!important
	}
	.gallery img {width: 130px;height: auto}
}


/* desktop (1025 to 1200) */
@media only screen and (min-width: 1025px) and (max-width: 1230px) {
		.info-circle {
		margin-right: -20px
	}
	#portfolio-gallery img {width: 213px}
	#totop,.glow {display:none}
	.flex-control-nav {
		bottom: -34px
	}
}

/* Post
================================================== */

.single #header-background, .archive #header-background {
	min-height: 200px;
	background-position:left top;
}

.single #header, .archive #header {
	text-align: left
}

.single .logo, .archive .logo {
	margin: 10px 0 0 -38px
}

.single .tagline, .archive .tagline {
	width: 100%;
	text-align: left;
	margin-top: -25px;
	letter-spacing: -1px
}

.post-meta {
	font-weight: normal;
	line-height: 13px;
	margin: 0 0 15px 0;
	padding: 10px 0;
	font-size: 11px;
	color: #111
}

.meta-spacer {
	padding: 0 5px;
	font-size: 13px
}

/*-- WP comments --*/
ul.commentlist { list-style:none; margin:0 0 1em; padding:0; text-indent:0; }
ul.commentlist li { }
ul.commentlist li.alt { }
ul.commentlist li.bypostauthor {}
ul.commentlist li.byuser {}
ul.commentlist li.comment-author-admin {}
ul.commentlist li.comment { border-bottom:1px dotted #ccc; padding:1em; }
ul.commentlist li div.comment-author {}
ul.commentlist li div.vcard { font:normal 16px georgia,times,serif; }
ul.commentlist li div.vcard cite.fn { font-style:normal; font-weight: bold;}
ul.commentlist li div.vcard cite.fn a.url {}
ul.commentlist li div.vcard img.avatar { border:1px solid #ccc; float:right; margin:0 0 1em 1em; }
ul.commentlist li div.vcard img.avatar-32 {}
ul.commentlist li div.vcard img.photo {}
ul.commentlist li div.vcard span.says {}
ul.commentlist li div.commentmetadata {}
ul.commentlist li div.comment-meta { font-size:9px; }
ul.commentlist li div.comment-meta a { color:#ccc; }
ul.commentlist li p { font-size:11px; margin:0 0 1em; }
ul.commentlist li ul { font-size:11px; list-style:square; margin:0 0 1em 2em; }
ul.commentlist li div.reply { font-size:11px; }
ul.commentlist li div.reply a { font-weight:bold; }
ul.commentlist li ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ul.commentlist li ul.children li {}
ul.commentlist li ul.children li.alt {}
ul.commentlist li ul.children li.bypostauthor {}
ul.commentlist li ul.children li.byuser {}
ul.commentlist li ul.children li.comment {}
ul.commentlist li ul.children li.comment-author-admin {}
ul.commentlist li ul.children li.depth-2 { border-left:1px solid #555; margin:0 0 .25em .25em; }
ul.commentlist li ul.children li.depth-3 { border-left:1px solid #999; margin:0 0 .25em .25em; }
ul.commentlist li ul.children li.depth-4 { border-left:1px solid #bbb; margin:0 0 .25em .25em; }
ul.commentlist li ul.children li.depth-5 {}
ul.commentlist li ul.children li.odd {}
ul.commentlist li.even { background:#fff; }
ul.commentlist li.odd { background:#f6f6f6; }
ul.commentlist li.parent { }
ul.commentlist li.pingback { border-bottom:1px dotted #ccc; padding:1em; }
ul.commentlist li.thread-alt { }
ul.commentlist li.thread-even {}
ul.commentlist li.thread-odd {}
#comment {width:100%}
h3#comments {
	font-size: 23px;
	line-height: 27px;
	margin-bottom: 23px
}
#respond h3 {
	font-size: 23px;
	line-height: 27px;
	margin: 35px 0 20px 0!important;
	padding: 0;
	display: block;
	width: 100%;
	float: left;
	clear: both
}

#commentform {
	display: block;
	width: 65%;
	float: left;
	clear: both
}

#commentform label {float:left;display:block;}
#commentform input {float:left;display:block;width:100%;}
.required {float:left;}

/* Blog
================================================== */

#content {
	margin-top: 50px
}

.post {
	margin-bottom: 55px;
	clear: both;
	display:block;
	width: 100%;
	float:left
}

.post h2 {
	font-size: 36px;
	line-height: 42px
}

#content p {
	font-size: 14px;
	line-height: 21px;
	color: #777
}

.featured-post-image {
	float:left;
	margin:0 15px 15px 0;
	border:1px solid #ccc;
	padding:3px;
}

.post-meta {
	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
	font-weight: normal;
	line-height: 13px;
	margin: 0 0 15px 0;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 11px
}

.post-navigation {
	margin-bottom: 45px;
	clear:both;
	display:block
}


/* 9.a. Slider version
================================================== */

#main-navigation {
	height:50px;
	background:#111;
	text-align:center;
	position:relative;
}

#main-navigation ul {
	list-style:none;
	margin:11px 0 0 10px;
	padding:0
}

#main-navigation ul li {
	display: inline-block; zoom: 1; *display: inline;
	margin:0 50px 0 0;
	padding:0
}

#main-navigation ul li:last-child {
	margin-right:0!important;
}

#main-navigation ul li a:hover {
	text-decoration:none
}

#main-navigation ul li a {
	line-height:20px;
	height: 40px;
	text-transform: uppercase;
	font-size: 13px
}

#main-navigation li li a {
	line-height:40px;
	font-size:12px;
	color:#fff
}

#main-navigation li.current_menu_item a {
	color:#777
}

#main-navigation ul li ul.sub-menu {
    margin:0;
    padding:0;
    width:auto;
    position:absolute;
    display:none
}

#main-navigation ul li ul {
	z-index:999;
	padding:10px 20px 20px 20px!important;
	width: 200px!important;
	background:#111;
}

#main-navigation ul li ul li {
	margin: 0;
	height: 25px
}
#main-navigation ul li ul.sub-menu ul {
    margin:0;
    padding:0;
    width:120px;
    position:absolute;
    display:none;
    left:120px;
    top: 50px;
}

#main-navigation ul li ul li {
    margin:0 0 10px 0;
    padding:0;
    list-style:none;
    position:relative;
    width:100%;
    text-align: left
}â€‹


/* options panel (demo only)
----------------------------------------------------------------------------------------------------*/

.options-panel {
	display: block;
	height: 300px;
	left: 0;
	padding: 15px 5px 10px 15px;
	position: fixed;
	top: 235px;
	width: 199px;
	z-index: 9999;
	background-color:#111111;
	-moz-border-radius:0 15px 15px 0;
	-webkit-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
	text-transform:uppercase
}

.options-panel-closed {
	display: block;
	height: 50px;
	left: 0;
	padding: 15px 21px 10px 15px;
	position: fixed;
	top: 235px;
	width: 42px;
	z-index: 999;
	background-color: #111;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	text-transform: uppercase;
	color:#AAA!important
}

.options-panel-closed span, .options-panel-closed a, #close-options span {
	color:#AAA!important;
	text-decoration:none!important;
}

.options-panel-closed span:hover, .options-panel-closed a:hover, #close-options span:hover {
	color:#fff!important;
	text-decoration:none!important;
}

#close-options {
	position:absolute;
	top: 5px;
	right: -5px
}

.options-panel h4 {
	font-size:22px;
	margin:0 0 10px 0;
	color:#fff!important;
}

.options-panel p {
	color:#444;
	font-size:18px;
	margin:10px 0 10px 0;
	width: 100%;
	float:left
}

.options-panel ul {
	margin:0;
	list-style:none
}

.options-panel ul li {
	float: left;
	margin: 0 12px 2px 0;
	padding: 0
}

.options-panel a {
	margin:0;
	padding:0;
	color:#ccc!important;
	font-size:11px;
}

.options-panel img {
	margin:0;
	padding:0
}

.options-panel ul li a {

}

.options-panel ul li a:hover {
	color:#aaa!important;
}

.custom-icon-minus, .custom-icon-plus {
	width:40px;
	height:46px;
	display: block;
	margin-right: 14px
}

.custom-icon-minus {
	background:url(../images/custom-icon-minus.png) no-repeat 0 0
}
.custom-icon-plus {
	background:url(../images/custom-icon-plus.png) no-repeat 0 0
}

/* customize theme button */
.options-panel-closed .font-icon {
font-size: 54px;
float: none;
margin-right: 30px;
color: #B3B3B3;
line-height: 44px !important;
margin-bottom: 33px;
}

.options-panel-closed a {
display:block
}

.options-panel-closed span, .options-panel-closed a, #close-options span {
	text-decoration:none!important;
}

.options-panel-closed:hover {
	background-color: #222
}

.options-panel-closed:hover span.customize,.options-panel-closed:hover  .font-icon {
	color: #F16529!important
}

.options-panel-closed {
	display: block;
	height: 104px;
	left: 0;
	padding: 15px 10px 18px 6px;
	position: fixed;
	top:77px;
	width: 101px;
	z-index: 999;
	background-color: #111;
	-moz-border-radius: 0 15px 15px 0;
	-webkit-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	text-transform: uppercase;
	color:#AAA!important;
	text-align:center;
	-moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2)
}

span.customize {
	font-size: 11px;
	padding: 3px;
	background: #222;
	color: #B3B3B3!important;
	line-height: 16px;
	display:block;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

#sidebar .cmw {
  display: none;
}

#header-widget-notice {
  color: red;
  font-size: 24px;
}